body{
    margin: 0;
    background-color: lightcoral;
    font-family: Verdana;
    font-size: 1,5em;
}
#div-container{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#searchPokemon{
    padding: 5px;
    border-radius: 10px;
}
#listaPokemon{
    background-color: beige;
    list-style: none;
    width: 200px;
    border-radius: 5px;
}
#listaPokemon li {
    margin-left: -40px;
    padding: 0px 10px;
}